<style>
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #EDF1F9;
  background: linear-gradient(to bottom,  #f1f4f9 0%,#e3e7ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f1f4f9", endColorstr="#e3e7ed",GradientType=0 );
}

.note {
  font-size: 16px;
  line-height: 22px;
  background: #f8f1c6;
  background: linear-gradient(#f8f1c6 0%, #f8f1c6 96%, #cfceab 100%);
  background-size: 1px 22px;
  border-radius: 3px;
  border: 1px solid #C4C296;
  color: #878260;
  text-shadow: 0 1px 1px white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1),
              inset 0 1px 1px rgba(255,255,255,0.8);
  max-width: 600px;
  margin: 20px auto;
}

.note > i {
  display: block;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #f8f1c6;
  position: absolute;
  margin-top: -30px;
  margin-left: 200px;
}

.note > b {
  display: block;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #C4C296;
  position: absolute;
  margin-top: -31px;
  margin-left: 200px;
}

.note > div {
  background:
    radial-gradient(#edf1f9 30%, transparent 31%) 0 0,
    radial-gradient(rgba(0,0,0,0.8) 30%, transparent 35%) 0 0px;
  background-size: 40px 40px;
  background-repeat: repeat-y;
  margin-left: 3px;
}

.note > div.off {
  background: none;
  margin-left: -20px;
}

.note > div > div, 
.note > div > div > div {
  height: 100%;
  border-left: 1px solid #ddbbb8;
  box-shadow: 0 0 1px rgba(221,187,184,0.4),
              inset 0 0 1px rgba(221,187,184,0.4);
}

.note > div > div {
  margin-left: 40px;
}

.note > div > div > div {
  padding: 22px 20px 21px 20px;
  margin-left: 4px;
  outline: none;
}

.note > div > div > div > span {
  color: #9C9778;
  font-weight: bold;
}

body > span {
  text-align: center;
  display: block;
}

</style>

<div class="note">
<div contenteditable="true" spellcheck="false">
  <div class="off"><div>  <span><h1>{{todo.title}}</h1><br /></span>
{{todo.text}}
<br><br>
<i><b>Created on: {{todo.created_at}}</b></i>
</div>
</div>
</div>
</div>
